# Dependencias
node_modules/
*/node_modules/

# Variables de entorno
.env
.env.local
.env.production
backend/.env
frontend/.env

# Logs
*.log
npm-debug.log*

# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/
*/dist/
*/build/

# MongoDB data (si usas mongo local)
data/

# Docker
*.dockerignore